/* .slider-item-container {
  display: flex;
  width: 95%;
  margin: auto;
}

.slider-item-container:hover .item {
  transform: translateX(-25%);
}

.item {
  display: inline-block;
  overflow: hidden;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 400px;
}

.item-movie-details {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  color: white;
}

.title-container {
  position: absolute;
  left: 5px;
}

#item-movie-title {
  overflow: hidden;
}

.btn-container {
  position: absolute;
  right: 5px;
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
} */

* {
  box-sizing: border-box;
}

p {
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #e4e6e6;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.contain {
  width: 100%;
}

.section-title {
  margin: 50px 0 10px 55px;
  color: rgb(214, 213, 213);
}
.row {
  overflow: hidden;
  width: 100%;
  margin-left: 55px;
}
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 35px 70px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 400px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 12px;
  line-height: 25px;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 450ms opacity;
}
.tile__details:after,
.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.play-media-btn {
  font-size: 35pt;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 43%;
  background: rgba(0, 0, 0, 0.466);
  border-radius: 100%;
}

.tile-movie-title {
  font-size: 10pt;
}

.tile-favorite-btn {
  font-size: 1rem !important;
}

.tile-movie-title:hover,
.tile-favorite-btn:hover,
.play-media-btn:hover,
.info-toggle:hover {
  transform: scale(1.05);
  color: white !important;
}
.tile-movie-title:active,
.tile-favorite-btn:active,
.play-media-btn:active,
.info-toggle:hover {
  transform: scale(1.1);
}

.info-toggle {
  font-size: 15pt;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 47%;
  color: rgb(214, 213, 213);
}

/* .slider-home {
  border: 3px solid lime;
}

.slider-arrows-container {
  background-color: red;
  display: inline;
  left: 0;
  bottom: 50px;
  height: 225px;
  width: 20px;
  z-index: 1;
} */

.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.15);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
