.sidenav-container {
  position: fixed;
  z-index: 1;
  left: 0px;
  background: rgba(0, 0, 0, 0.267);
  overflow-x: hidden;
  padding: 8px 0;
  text-align: center;
}

.fa-play {
  margin: 5px 0px 10px 5px;
  color: orangered;
}

.sidenav {
  position: fixed;
  z-index: 1;
  margin-top: 5px;
  left: 0px;
  background: rgba(0, 0, 0, 0.267);
  overflow-x: hidden;
  padding: 8px 0;
  border: 0.5px solid rgb(56, 56, 56);
  text-align: center;
}

.sidenav a {
  padding: 25px 8px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(202, 199, 199);
  display: block;
}

.sidenav a:hover {
  color: white;
}
