/* .slider-item-container {
  display: flex;
  width: 95%;
  margin: auto;
}

.slider-item-container:hover .item {
  transform: translateX(-25%);
}

.item {
  display: inline-block;
  overflow: hidden;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 400px;
}

.item-movie-details {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  color: white;
}

.title-container {
  position: absolute;
  left: 5px;
}

#item-movie-title {
  overflow: hidden;
}

.btn-container {
  position: absolute;
  right: 5px;
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
} */

* {
  box-sizing: border-box;
}

p {
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #e4e6e6;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  overflow: hidden;
  width: 100%;
}
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 400px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 12px;
  line-height: 25px;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 450ms opacity;
}
.tile__details:after,
.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.pic:after,
.pic:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.pic:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pic:before {
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}

#add-favorite:hover {
  color: white !important;
  text-decoration: underline;
}

.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.25);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
