.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  vertical-align: middle;
  background-color: black;
}

.fa-play {
  margin: 5px 0px 10px 10px;
  color: orangered;
}

.nav a {
  padding: 20px 15px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(202, 199, 199);
}

.nav a:hover {
  color: white;
}

#signOut {
  position: absolute;
  right: 5px;
}
