.slider-container {
  display: flex;
  /* padding: 0 55px; */
}

.slider-container:hover .item {
  transform: translateX(-25%);
}

.item {
  background: green;
  flex: 0 0 20%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  height: 800px;
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
}
